<% provide(:title, "Sign Up") %>
<div class="row">
  <div class="12-small columns">
    <div class="sign-up-form">
      <h1>Sign up</h1>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {multipart: true}) do |f| %>
        <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, :required => true, :autofocus => true %>
            <%= f.input :last_name, :required => true %>
            <%= f.input :user_name, :required => true %>
            <%= f.input :user_image %>
            <%= f.label "Cell phone number is completely optional, but highly suggested." %>
            <%= f.input :phone %>
            <%= f.input :email, :required => true %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>

          </div>
        <% end %>
<!--         <%= render "devise/shared/links" %> -->
      </div>
    </div>
    <div class="sign-up-dog show-for-medium-up">
      <%= image_tag "dog.png" %>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-logo">
      <%= image_tag "cc-logo-rough.png" %>
    </div>
    <nav>
      <ul>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Help",     help_path %></li>
        <li><%= link_to "Terms",    terms_path %></li>
        <li><%= link_to "Privacy",  privacy_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
        <li><%= link_to "Dev",      dev_path %></li>
      </ul>
    </nav>
    <small>© 2014 Canine Connector</small>
  </footer>
</div>
<div class="row"></div>