- provide(:title, "All Found")
.row
  .12-small.columns
    %h1.all-title All Found
    - if user_signed_in?
      #all-main
        .index-dog-right.show-for-medium-up
          = image_tag "dog17.png"
        .index-dog-left.show-for-medium-up
          = image_tag "ball.png"
        #all-sub
          - @dogs.all.each do |dog|
            / - if dog.is_found? && dog.has_returned? == false
            .mini-dog
              .dog-picture
                = link_to(image_tag(dog.picture, :alt => dog.name), dog_path(dog))
              .dog-specs
                %h1.dogname.show-for-medium-up= link_to dog.name, dog_path(dog)
                %h2.dogbreed.show-for-medium-up= dog.breed
                %h3.dogage.show-for-medium-up= dog.age
          = paginate @dogs