- provide(:title, "Dogs")
.row
  .12-small.columns
    #home-page-main
      #home-page-lost
        %h1.recent-title Recently Lost
        - @dogs.each do |dog|
          .mini-dog
            .dog-picture
              = image_tag dog.picture
            .dog-specs
              %h1.dogname= link_to dog.name, dog_path(dog)
              %h2.dogbreed= dog.breed
              %h3.dogage= dog.age
            / .dog-breed
            /   %h2= dog.breed
            / .dog-age
            /   %h3= dog.age

            / %li= dog.features
            / %li= dog.date_found
            / %li= dog.is_lost
            / %li= dog.is_found
        %h2.see-all See All Lost

      #home-page-found
        %h1.recent-title Recently Found
        - @dogs.each do |dog|
          .mini-dog
            .dog-picture
              = image_tag dog.picture
            .dog-specs
              %h1.dogname= link_to dog.name, dog_path(dog)
              %h2.dogbreed= dog.breed
              %h3.dogage= dog.age
        %h2.see-all See All Found
