.row
  #myModal.reveal-modal{"data-reveal" => ""}
    %h2 Click below to initiate contact with this user.
    %p.lead This will notify, email, and text this person (if applicable). Direct messaging, coming soon!
    .contact-button.button GO!
    %p.lead Good luck!
    %a.close-reveal-modal ×
.row
  .12-small.columns
    .dog-profile-container
      .dogatar
        = image_tag @dog.picture
      .dog-stats
        %h1= @dog.name
        %h2.breed= @dog.breed
        %h2.age= @dog.age
        %h2.responds-to Also responds to
        %h2.responds-to= @dog.responds_to
        - if @dog.is_lost?
          %h2.location Last seen around
          %h2.location= @dog.location
        - elsif @dog.is_found?
          %h2.location Found around
          %h2.location= @dog.location
        - if @dog.is_lost?
          %h2.date On
          %h2.date= @dog.date_found
        - elsif @dog.is_found?
          %h2.date On
          %h2.date= @dog.date_found
        %h3= @dog.unique_features
      .the-rest

      %p#notice= notice

    - if @dog.is_lost? && @dog.user != current_user
      %h1.think= link_to "I think I've found this dog.", "#"
    -elsif @dog.is_found? && @dog.user != current_user
      %a.think{"data-reveal" => "", "data-reveal-id" => "myModal", href: "#"} I think this is my dog.
      / %h1.think= link_to "I think this is my dog.", "#"

    - if @dog.user == current_user
      %ul.controls-ul
        %li
          %h2.controls= link_to "Delete", dog_path, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %li
          %h2.controls= link_to "Edit", edit_dog_path(@dog)
        %li
          %h2.controls= link_to 'Back', dogs_path
