<% provide(:title, "Sign In") %>
<div class="row">
  <div class="12-small columns">
    <div class="sign-in-form">
      <h1>Sign in</h1>

      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, :required => false, :autofocus => true %>
          <%= f.input :password, :required => false %>
          <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign In" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      <div class="sign-in-dog show-for-medium-up">
        <%= image_tag "dog5.png" %>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-logo">
        <%= image_tag "cc-logo-rough.png" %>
      </div>
      <nav>
        <ul>
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Help",     help_path %></li>
          <li><%= link_to "Terms",    terms_path %></li>
          <li><%= link_to "Privacy",  privacy_path %></li>
          <li><%= link_to "Contact",  contact_path %></li>
          <li><%= link_to "Dev",      dev_path %></li>
        </ul>
      </nav>
      <small>© 2014 Canine Connector</small>
    </footer>
  </div>
</div>
