%footer.footer
  .footer-logo
    = image_tag "cc-logo-rough.png"
  %nav
    %ul
      %li= link_to "About",   static_about_page_path
      %li= link_to "Help",    static_help_page_path
      %li= link_to "Terms",   static_terms_page_path
      %li= link_to "Privacy", static_privacy_page_path
      %li= link_to "Cookies", static_cookies_page_path
      %li= link_to "Dev", static_dev_page_path
  %small © 2014 Canine Connector